.wrapper {
  outline: none;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  background-color: #FFEEF3;
  color: #A95F75;
  cursor: pointer;
  transition: all 0.3s ease; /* Добавьте эту строку */

  &:hover, &._active{
    background-color: #D01B50;
    color: #fff;
  }
}