:host {
  width: 100%;
}

.header {
  //margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  min-height: 100%;
  padding: 40px;
  flex-direction: column;
  min-width: 0;
}
