:host {
  width: 100%;
}
.wrapper {
  display: flex;
  background-image: url('./back.png');
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
  background-color: rgba(208, 27, 80, 1);
  min-height: 100%;
  min-width: 0;
}
