:host {
  width: 100%;
}
.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  min-width: 0;
  padding: 40px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  width: 200px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  background-color: #D01B50;
  color: #FFFFFF;
}

.container{
  display: flex;
  align-items: center;
  gap: 16px;
}