<div class="wrapper">
    <h1 class="header">Создать заявку на стажировку</h1>
    <span class="description">*поля, отмеченные звездочкой, обязательны для заполнения</span>
    <div class="form" [formGroup]="form">
        <div class="cell">
            <tui-input formControlName="speciality">
                Код специальности*
            </tui-input>
            <tui-input-number formControlName="quantity" [min]="1">
                Количество студентов*
            </tui-input-number>
            <tui-input-number formControlName="course" [min]="1">
                Курс*
            </tui-input-number>
            <tui-input-date-range formControlName="date" [tuiTextfieldLabelOutside]="true"></tui-input-date-range>
        </div>
    </div>
    <button class="button" [disabled]="form.invalid" (click)="send()">Отправить</button>
</div>
