<div class="wrapper">
    <div class="logo"></div>
    <div class="nav">
        <div class="link">
            <span routerLink="/profile">Вакансии</span>
        </div>
        <div class="link">
            <span>Стажировки</span>
        </div>
    </div>
    <div class="add">
        <div class="link">
            <span>Поиск</span>
        </div>
        <div class="link">
            <span>Москва</span>
        </div>
        <div class="link" (click)="logout()">
            <span>Выйти</span>
        </div>
    </div>
</div>
