:host {
  width: 100%;
}

.wrapper {
  display: flex;
  //justify-content: space-between;
  height: 80px;
  min-width: 0;
  background-color: #D01B50;
  padding-inline: 50px;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-inline: 75px;
  gap: 30px;
}

.add {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}

.logo {
  width: 199px;
  height: 32px;
  background-image: url('./logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.link {
  cursor: pointer;
  color: #ffffff;
}
