:host {
  width: 100%;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  min-width: 0;
}

.star-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #FFF3F6;
}

.star {
  width: 100px;
  height: 100px;
  background-image: url("./star.png");
  background-repeat: no-repeat;
}

.empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 125px;
  gap: 44px;
  width: 100%;
  height: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #252525;
  gap: 8px;

  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 32.1px;
    margin: 0;

  }

  span {
    font-weight: 400;
    font-size: 20px;
    line-height: 32.1px;

  }
}