<div class="wrapper">
    <div class="top">
        <span class="header">{{ header() }}</span>
        <button class="button"></button>
    </div>
    <div class="description">
        <div class="cell">
            <span class="title">просмотров</span>
            <span class="value">{{ viewQuantity() }}</span>
        </div>
        <div class="cell">
            <span class="title">отликов</span>
            <span class="value">{{ responsesQuantity() }}</span>
        </div>
        <div class="cell">
            <span class="title">конверсия</span>
            <span class="value">{{ conversionPercentage() }}%</span>
        </div>
    </div>
</div>
