:host {
  width: 100%;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  min-width: 0;
}

.button {
  display: flex;
  margin-left: 10px;
  cursor: pointer;
  align-items: center;
  height: 50px;
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: #D01B50;
  color: #FFFFFF;

  &:disabled {
    cursor: default;
    background-color: #dca0b2;
  }
}

.empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 125px;
  gap: 44px;
  width: 100%;
  height: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #252525;
  gap: 8px;

  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 32.1px;
    margin: 0;

  }

  span {
    font-weight: 400;
    font-size: 20px;
    line-height: 32.1px;
  }

  .list-item {
    margin-bottom: 32px;
  }
}